/* header font */
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Prompt', sans-serif;
}

/* .dark {
  --bg-primary: #121212;
  --text-primary: #ffffff;
} */